[Unit]
Description=Renew IPV6 address in  Cloudflare DNS
Wants=network.target
After=networking.service
Conflicts=shutdown.target
[Install]
WantedBy=multi-user.target
WantedBy=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ipv6dns-renew.sh
ExecStop=/bin/true
RemainAfterExit=true
